@import 'master';

html, body{
  background-color: $colorLight;
  color: $colorDark;
  font-family: $primaryFontFamily;
  margin: 0;
  min-height: 100vh;
  overflow: auto;
  padding: 0;
  width: 100vw;
}

button{
  background: none;
  border: none;
  color: $colorMed;
  cursor: pointer;
  font-family: $primaryFontFamily;
  font-style: italic;
  padding: $spacingSmall;
  outline: none;
  -webkit-appearance: none;
  &:hover{
    color: $colorDark;
  }
}

form{
  text-align: center;
  input[type="text"], input[type="email"], input[type="password"]{
    background-color: transparent;
    border: none;
    border-bottom: 2px black solid;
    display: block;
    font-family: $primaryFontFamily;
    font-weight: 700;
    margin: $spacingMed auto;
    outline: none;
    padding: 0;
    text-align: center;
  }
}

.header{
  left: 0;
  position: fixed;
  top: 0;
  a{
    cursor: pointer;
    text-decoration: none;
    h1{
      display: block;
      text-align: left;
      color: $colorDark;
      left: 0;
      margin: 0;
      padding: $spacingSmall;
      position: absolute;
      top: 0;
      width: auto;
      &:hover{
        color: $colorMed;
      }
    }
  }
}

.main-container{
  list-style: none;
  margin: auto;
  padding: 0;
  width: 90%;
}