$fontSizeLarge: 50px;
$fontSizeSmall: 25px;

$spacingSmall: 1vw;
$spacingMedium: 5vw;
$spacingLarge: 15vw;

$primaryFontFamily: 'Libre Baskerville', serif;

$colorLight: #eee;
$colorMed: #999;
$colorDark: #212121;