html, body {
  background-color: #212121;
  color: white;
  font-family: "Libre Baskerville", serif;
  margin: 0;
  min-height: 100vh;
  overflow: auto;
  padding: 0;
  width: 100vw; }

button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  opacity: 0.5;
  padding: 1vw;
  outline: none;
  -webkit-appearance: none; }
  button:hover {
    color: #212121; }

form {
  text-align: center; }
  form input[type="text"], form input[type="email"], form input[type="password"] {
    background-color: transparent;
    border: none;
    border-bottom: 2px white solid;
    display: block;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    margin: 5vw auto;
    outline: none;
    padding: 0;
    text-align: center; }

.header {
  left: 0;
  position: fixed;
  top: 0; }
  .header a {
    cursor: pointer;
    text-decoration: none; }
    .header a h1 {
      display: block;
      text-align: left;
      color: white;
      left: 0;
      margin: 0;
      padding: 1vw;
      position: absolute;
      top: 0;
      width: auto; }
      .header a h1:hover {
        opacity: 0.5; }

.main-container {
  list-style: none;
  margin: auto;
  padding: 0;
  width: 90%; }
