<h2>{{ vm.user.name }}</h2>
<h4>{{ vm.user.email }}</h4>
<div>number of tasks: {{ vm.user.toDoList.length }}</div>

<div ng-if="vm.user.toDoList">
  <ul class="tasks-container">
    <li ng-repeat="task in vm.user.toDoList track by $index" class="task-container">
      <div class="task active">{{ task.task }}</div>
      <form name="taskUpdateForm" ng-submit="vm.updateTask($index, task._id)" class="task">
        <input type="text" name="updatedTask" required ng-model="task.task"/>
        <input type="hidden" name="taskId" ng-value="task._id"/>
        <button type="submit">change task</button>
        <button>cancel</button>
      </form>
      <button ng-click="vm.deleteTask(task._id)">delete</button>
    </li>
  </ul>
</div>

<form name="taskForm" ng-submit="vm.addTask()">
  <label>task: </label><input type="text" name="newTask" required ng-model="vm.newTask">
  <button type="submit">make new task</button>
</form>