<div class="user-info">{{ vm.user.name }}</div>
<!-- <div>number of tasks: {{ vm.user.toDoList.length }}</div> -->

<ul class="tasks-container" ng-if="vm.user.toDoList">
  <li ng-repeat="task in vm.user.toDoList track by $index" class="task-container" font-size-directive>

    <div class="task-show active">
      <div class="task-text" ng-click="vm.showEditMode($index)">{{ task.task }}</div>
      <div class="task-buttons-container">
        <div class="edit-task-button" ng-click="vm.showEditMode($index)">edit</div>
      </div>
    </div>

    <form name="taskUpdateForm" ng-submit="vm.updateTask($index, task._id)" class="task-form">
      <input type="text" name="updatedTask" autocomplete="off" required ng-model="task.task"/>
      <input type="hidden" name="taskId" ng-value="task._id"/>
      <div class="task-buttons-container">
        <button type="submit" class="edit-task-button">change</button>
        <div class="edit-task-button" ng-click="vm.hideEditMode($index)">cancel</div>
        <div class="edit-task-button" ng-click="vm.deleteTask(task._id)">delete</div>
      </div>
    </form>

  </li>
</ul>

<form class="new-task-container" id="new-task-container" name="taskForm" ng-submit="vm.addTask()" font-size-directive>
  <div class="task-container">
    <div class='new-task-form active'>
      <input type="text" name="newTask" placeholder="New Task" autocomplete="off" required ng-model="vm.newTask">
      <div class="task-buttons-container">
        <button type="submit" class="edit-task-button">make new task</button>
      </div>
  </div>
</form>